html {
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(21,21,30);
    display: flex;
    flex-direction: column;
    column-gap: auto;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Animation on scroll */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.animated {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


/* Header and Navbar */
.header {
    top: 10px;
    position: sticky;
    z-index: 1000;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    background-color: rgb(40,40,42);
    width: 310px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 20px;
}

.navbar a {
    color: white;
    font-family: verdana, sans-serif;
    border-radius: 20px;
    padding: 0;
    margin: 5px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: cornflowerblue;
    padding: 5px 10px;
    margin: 0px 10px;
    transition: margin 0.2s ease, padding 0.2s ease;
}

.navbar a:active {
    color: rgb(54, 53, 62);
    background: rgb(54, 81, 130);
    animation: gradient 0.02s ease-in-out both;
}

/* Home Section */
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -15px 0 0 0;
}

.home .profile {
    position: relative;
    width: 310px;
    height: 310px;
    justify-content: center;
}

.home img {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-color:cornflowerblue;
}

.home .profile p {
    opacity: 0;
    text-align: center;
    transform: translate(0, -180px);
}

.home .profile:hover img{
    opacity: 0.3;
}

.home .profile:hover p {
    transition: opacity 0.2s ease;
    opacity: 1;
}

.home h2 {
    margin: 30px 0 0 0;
    font-size: 25px;
}

.home h1 {
    margin: 10px 0 0 0;
    font-size: 40px;
}

.home p {
    margin: 15px 0 0 0;
    font-size: 22px;
}

.home h1, .home h2, .home p {
    color: white;
    font-family: helvetica, sans-serif;
}

.icon-container {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin: 60px 0 0 0;
}

.icon {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.icon img {
    width: 50px;
    height: 50px;
    background-color: transparent;
    scale: 1;
    transition: scale 0.2s ease;
    border-color: transparent
}

.home .caption {
    font-size: 0px;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 0;
    margin-top: 12px;
    transition: font-size 0.1s ease;
}

.icon:hover img{
    transition: scale 0.15s ease;
    scale: 1.2;
    filter: brightness(0) saturate(100%) invert(22%) sepia(73%) saturate(617%) hue-rotate(190deg) brightness(250%) contrast(87%);
}

.icon:hover .caption {
    transition: font-size 0.3s ease;
    font-size: 18px;
    padding: 8px;
}

/* About Section */
.about {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 60px;
}

.about::-webkit-scrollbar {
    display: none;
}

.about h1 {
    color: white;
    font-family: verdana, sans-serif;
    text-align: center;
    font-size: 32px;
    padding: 150px 0 0 0;
}

.about p {
    color: rgb(230,230,230);
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 20px;
    margin: 2px 0;
}

.about h2 {
    color: white;
    font-family: verdana, sans-serif;
    text-align: center;
    margin: 100px 0 50px 0;
    font-size: 28px;
}

.tool-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    overflow-y: visible;
}

.tool-container::-webkit-scrollbar {
    display: none;
}

.tool {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 15px;
    background-color: rgba(255,255,255,0.2);
    padding: 0 15px;
    height: 50px;
}

.tool:hover {
    transform: scale(1.1);
}

.tool img {
    width: 30px;
}

.tool p {
    color: white;
}

/* Projects Section */
.projects {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100vh;
}

.projects h1 {
    color: white;
    font-family: verdana, sans-serif;    
    font-size: 28px;
    font-size: 32px;
}

.projects h2 {
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 28px;
    margin: 50px;
}

.personal-projects {
    display: flex;
    column-gap: 30px;
    width: 70vw;
    overflow-x: auto;
    height: 450px;
    padding: 10px 25px;
    overscroll-behavior-inline: contain;
    justify-content: flex-start;
    align-items: center;
}

.personal-projects::-webkit-scrollbar {
    height: 12px;
}

.personal-projects::-webkit-scrollbar-track {
    background-color: transparent;
}

.personal-projects::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 10px;
}

.personal-prokects::-webkit-scrollbar-button {
    display: block;
}

.personal-prokects::-webkit-scrollbar-button {
    background-color: white; 
    height: 10px; 
}

.personal-prokects::-webkit-scrollbar-button:vertical:start {
    display: block;
}

.personal-prokects::-webkit-scrollbar-button:vertical:end {
    display: block;
}


.personal-project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200,200,210,0.09);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.8);
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgba(150,150,150, 0.2);
    height: 380px;
    scale: 1;
    transition: scale 0.2s ease;
}

.personal-project-card:hover{
    transition: scale 0.2s ease;
    scale: 1.05;
}

.personal-project-card .project-img {
    width: 220px;
    height: 220px;
    border: 1.5px solid rgb(180,180,180);
    border-radius: 5%;
    margin: 0;
}

.personal-project-card h3 {
    margin: 15px;
    color: white;
    font-family: verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.personal-project-card p {
    margin: 0;
    width: 230px;
    color: rgb(220, 220, 220);
    font-size: 15px;
    text-align: center;
    font-family: verdana, sans-serif;
    height: 60px;
}

.arrow {
    margin-left: 195px;
    width: 30px;
    height: 30px;
    translate: 0 5px;
    scale: 1;
    filter: brightness(0) saturate(100%) invert(36%) saturate(0) brightness(200%);
    transition: scale 0.2s ease;
}

.arrow:hover {
    filter: brightness(0) saturate(100%) invert(22%) sepia(73%) saturate(617%) hue-rotate(190deg) brightness(220%) contrast(87%);
    transition: scale 0.2s ease;
    scale: 1.2;
}

.arrow:active {
    filter: brightness(0) saturate(100%) invert(22%) sepia(73%) saturate(600%) hue-rotate(190deg) brightness(100%) contrast(87%);  
}

/* Footer */
footer {
    background-color: rgb(40,40,42);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer .icon-container {
    margin: 12px 0 0 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 40px;
}

footer .icon {
    margin: 0;
    padding: 0;
    height: 40px;
}

footer .icon img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
    padding: 15px 0 15px 0;
    color: rgb(129, 129, 129);
    font-family: verdana, sans-serif;
    font-size: 12px;
}